html, body {
    margin: 0;
    padding: 0;
  }

  * {
    box-sizing: border-box;
  }

  .slider {
      width: 30%;
      margin: 100px auto;
  }

  .slick-slide {
    margin: 0px 20px;
  }

  .slick-slide img {
    width: 100%;
  }

  .slick-prev:before,
  .slick-next:before {
    color: black;
  }


  .slick-slide {
    transition: all ease-in-out .3s;
    opacity: .2;
  }
  
  .slick-active {
    opacity: .3;
  }

  .slick-current {
    opacity: 1;
  }

  .slick-dots li button{
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #000;
  }

  .slick-dots {
      bottom: -65px;
  }